<%- include('partials/_header') %>
<div class="container">
	<div class="row">
		<!-- FORMULARIO -->
			<div class="col-md-5 offset-md-3">
				<div class="card">
					<div class="card-body">

						<form action="/edit/<%= task._id %>" method="POST">
<!----------------------------------------------------------------------------------------->							
							<div class="form-group">
								<input type="text" name="Nombre" placeholder="Nombre" required class="form-control" value=" <%- task.Nombre %>">
							</div>

							<div class="form-group">
								<input type="text" name="Apellido" placeholder="Apellido" required class="form-control" value=" <%- task.Apellido %>">
							</div>

							<div class="form-group">
								<input type="email" name="Email" placeholder="Email" 
								required class="form-control" value=" <%- task.Email %>">
							</div>

							<div class="form-group">
								<input type="tel" name="Telefono" placeholder="0123-456-789" pattern="[0-9]{4}-[0-9]{3}-[0-9]{3}" required class="form-control" value=" <%- task.Telefono %>">
							</div>

							<div class="form-group">
								<input type="Date" name="FechaNacimiento" placeholder="Fecha de Nacimiento" required min="1900-01-01" max="2019-12-31" class="form-control"value=" <%- task.FechaNacimiento %>">
							</div>

							

							<div class="form-group">
								<input type="text" name="Edad"  placeholder="Edad" class="form-control" value=" <%- task.Edad %>"> 
							</div>
<!---------------------------------------------------------------------------------------->

							<button type="submit" class="btn btn-primary btn-block">
								ACTUALIZAR
							</button>							
							
						</form>
						
					</div>
					
				</div>
				
			</div>
		
	</div>
	
</div>

<%- include('partials/_footer') %>